


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Assets</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" style="margin-bottom: 10px" >
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Create Asset</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle" style="color:#337ab7">Create Asset</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Asset ID</label>
                                <input class="form-control" ng-model="assetID" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Asset Name</label>
                                <input class="form-control" ng-model="assetName" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Rated Power (KW)</label>
                                <input class="form-control" ng-model="ratedPower" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Efficiency of motor (%)</label>
                                <input class="form-control" ng-model="motorEfficiency" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Rated speed of the motor</label>
                                <input class="form-control" ng-model="motorRatedSpeed" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Minimum rated flow of the pump</label>
                                <input class="form-control" ng-model="minRatedFlowOfPump" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Water density</label>
                                <input class="form-control" ng-model="waterDensity" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Threadhold limit</label>
                                <input class="form-control" ng-model="threadholdLT" placeholder="Enter text">
                            </div>
                             <div class="form-group">
                                <label>Suction Diameter</label>
                                <input class="form-control" ng-model="suctionDiameter" placeholder="Enter text">
                            </div>
                            
                             <div class="form-group">
                                <label>Discharge Diameter</label>
                                <input class="form-control" ng-model="dischargeDiameter" placeholder="Enter text">
                            </div>
                             <div class="form-group">
                                <label>Elevation Difference</label>
                                <input class="form-control" ng-model="eleveationDiff" placeholder="Enter text">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addNewAsset()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Assets Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Asset ID</th>
                                <th>Asset Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        <tr class="odd gradeX" ng-repeat="asset in assets">
                        <td>{{asset.assetID}}</td>
                        <td>{{asset.assetName}}</td>
                                <td>
                                    <a href="#" class="fa fa-list" ng-click="showAssetInfo(asset)"></a> &nbsp;&nbsp;
                                    <a href="#" class="fa fa-times" ng-click="removeAsset(asset)"></a>
                                </td>
               		  </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="assetInfoBox" tabindex="-1" role="dialog" aria-labelledby="assetInfoBox" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle" style="color:#337ab7">Asset Information</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <label>Asset ID</label>
                                <span ng-bind="assetInfo.assetID" style="float: right"/>
                            </div>
                            <div class="form-group">
                                <label>Asset Name</label>
                                 <span style="float: right" ng-bind="assetInfo.assetName"/>
                            </div>
                            <div class="form-group">
                                <label>Rated Power (KW)</label>
                                 <span style="float: right" ng-bind="assetInfo.ratedPower"/>
                            </div>
                            <div class="form-group">
                                <label>Efficiency of motor (%)</label>
                                <span style="float: right" ng-bind="assetInfo.motorEfficiency"/>
                            </div>
                            <div class="form-group">
                                <label>Rated speed of the motor</label>
                                <span style="float: right" ng-bind="assetInfo.motorRatedSpeed"/>
                            </div>
                            <div class="form-group">
                                <label>Minimum rated flow of the pump</label>
                                 <span style="float: right" ng-bind="assetInfo.minRatedFlowOfPump"/>
                            </div>
                            <div class="form-group">
                                <label>Water density</label>
                                 <span style="float: right" ng-bind="assetInfo.waterDensity"/>
                            </div>
                            <div class="form-group">
                                <label>Threadhold limit</label>
                                <span style="float: right" ng-bind="assetInfo.threadholdLT"/>
                            </div>
                            <div class="form-group">
                                <label>Suction Diameter</label>
                                <span style="float: right" ng-bind="assetInfo.dischargeDiameter"/>
                            </div>
                            <div class="form-group">
                                <label>Discharge Diameter</label>
                                <span style="float: right" ng-bind="assetInfo.dischargeDiameter"/>
                            </div>
                            <div class="form-group">
                                <label>Elevation Difference</label>
                                <span style="float: right" ng-bind="assetInfo.eleveationDiff"/>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>